@model Elmah.Web.Models.HomeViewData

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <h1>Application Health</h1>
    </div>
</div>
<div class="bs-docs-grid" ng-app="HomeApp" ng-controller="HomeController">
    <div class="row">
        <div ng-repeat="state in states" class="col-md-4 col-sm-4">
            <div class="panel panel-default panel-application {{ state.Class }}">
                <div class="panel-body">
                    <div class="value">{{ state.Application }}</div>
                    <div class="title">
                        <i class="fa fa-usd"></i>
                        <span class="m-left-s">{{ state.ErrorCount }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/Angular/Home/HomeController.js"></script>