@model Elmah.Web.Models.HomeViewData

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div class="grid" ng-model="state" ng-animate="'animate'" ng-app="HomeApp" ng-controller="HomeController">
    <div class="row">
        <a ng-repeat="state in states" href='/ErrorLog/?application={{ state.Application }}&pageNumber=1'>
            <div class="col-md-4 col-sm-4">
                <div animate-on-change='state.Class' ng-model="state.Class" class="panel panel-default panel-application">
                    <div class="panel-body">
                        <div class="value">{{ state.Application }}</div>
                        <div class="title">
                            <i class="fa fa-usd"></i>
                            <span class="m-left-s">{{ state.ErrorCount }} errors today</span>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/Angular/Home/HomeController.js"></script>