h1, h2, h3, h4, h5, h6 {
    color: #777777;
    margin: 2px 0;
    padding: 2px 0;
}

.logo {
    margin-bottom: 50px;
    margin-top: 0;
    padding-left: 10px;
}

    .logo .meta {
        color: #888888;
        line-height: 15px;
        margin: 0;
        padding-left: 10px;
    }

a.logo {
    color: #888888;
}

    a.logo:hover, a.logo:focus {
        text-decoration: none;
    }

.bold {
    font-weight: bold;
    color: #fe402b;
}

.bg-danger {
    background-color: #fe402b !important;
    color: #fff !important;
}

.bg-success {
    background-color: #9ad268;
    color: #fff;
}

.bg-warning {
    background-color: #ffc545;
    color: #fff;
}

.grid {
    padding-left: 50px;
    padding-right: 50px;
}

.panel {
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-body {
    padding: 15px;
}

.panel-application {
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}

.panel.panel-default {
    border-color: #f1f5fc;
}

.panel-default {
    border-color: #ddd;
}

div {
    display: block;
}

.panel-application .value {
    font-size: 40px;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

.panel-application:hover .value {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

.result-page {
    padding-left: 50px;
}

.result-table {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 12px !important;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 95%;
    margin-left: 50px;
}

.no-Results {
    padding: 50px;
}

.result-header {
    text-align: left;
    background-color: #0A6CCE;
    padding: 0.4em;
    color: white;
    border: solid 1px silver;
    font-weight: bold;
}

.result-table .results-row {
    border-left: solid 1px silver;
}

    .result-table .results-row div {
        border-right: solid 1px silver;
        border-bottom: solid 1px silver;
    }


/*ERROR DISPLAY STYLES BASED ON ELMAH */
table {
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid #C0C0C0;
    padding: 0.4em;
    vertical-align: top;
}

th {
    background-color: #0A6CCE;
    border: 1px solid #C0C0C0;
    color: #FFFFFF;
    padding: 0.4em;
    text-align: left;
    vertical-align: top;
}

.odd-row {
    background-color: #E9E9E9;
}

.type-col {
    font-weight: bold;
}

.code-col, .date-col, .time-col {
    text-align: right;
}

#ErrorDetail {
    background-color: #FFFFCC;
    padding: 1em;
    width: 100%;
}

.st-type, .st-param-type {
    color: #00008B;
}

.st-param-name {
    color: #666666;
}

.st-method {
    color: #008B8B;
    font-weight: bolder;
}

.st-file, .st-line {
    color: #8B008B;
}

@media screen {
    #ErrorDetail {
        overflow: scroll;
    }
}

#ErrorTitle {
    font-size: 120%;
    font-weight: bold;
}

#ErrorType, #ErrorMessage {
    display: block;
}

#ErrorTypeMessageSeparator {
    display: none;
}

.key-col {
    font-weight: bold;
}

.table-caption {
    background-color: #000080;
    color: #FFFFFF;
    font-weight: bold;
    margin: 0;
    padding: 0.4em;
}

.scroll-view {
    overflow: scroll;
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
}