<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/BaseStyles.css">
    <script type="text/javascript" src="~/Scripts/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.10.4.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/angular.min.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-animate.min.js"></script>
</head>
<body>
    <div>
        <div class="row">
            <div class="col-md-4">
                <div class="logo">
                    <h1><a class="logo" href="/"> Application <span class="bold">Health</span></a></h1>
                    <p class="meta">Monitoring applications based on ELMAH logging</p>
                </div>
            </div>
        </div>
    </div>
    @RenderBody()
</body>
</html>
