<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="PollingInterval" value="10" /><!-- IN MINUTES -->
    <add key="DefaultLengthToKeepResults" value="30" /><!-- IN DAYS -->
  </appSettings>
  <connectionStrings>
    <add name="db" connectionString="Data Source=NLAMSDDE01;Database=Elmah;User ID=ElmahUser;Password=Password1" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <elmah>
    <security allowRemoteAccess="1" />
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="db" applicationName="Application Health Service" />
  </elmah>
</configuration>